@font-face {
    font-family: "Mariupol Regular";
    src: url(../fonts/Mariupol-Regular.woff);
}
@font-face {
    font-family: "Mariupol Medium";
    src: url(../fonts/Mariupol-Medium.woff);
}
@font-face {
    font-family: "Mariupol Bold";
    src: url(../fonts/Mariupol-Bold.woff);
}